<div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">

      <a href="#"><img src="../../assets/imgs/Logotrans.png" alt="" class="logo"></a>

      <form class="navbar-form navbar-center" role="search">
        <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit" (click)="hacerRequest()">Go!</button>
          </span>
          <input type="text" class="form-control" placeholder="Buscar" [(ngModel)]="keyboard">
        </div>
      </form>

      <ul class="nav">
        <li class="nav-item dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Another action</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Another action</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>
