<div>
  <nav class="navbar navbar-default">
    <div>
      <a href="#"><img src="../../assets/imgs/Logotrans.png" alt="" class="logo"></a>
    </div>
    <div>
      <form class="navbar-form navbar-center" role="search">
        <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Go!</button>
          </span>
          <input type="text" class="form-control" placeholder="Buscar">
        </div>
      </form>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Menú #2 <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Acción #1</a></li>
            <li class="divider"></li>
            <li><a href="#">Acción #2</a></li>
            <li class="divider"></li>
            <li><a href="#">Acción #4</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Menú #2 <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Acción #1</a></li>
            <li class="divider"></li>
            <li><a href="#">Acción #1</a></li>
            <li class="divider"></li>
            <li><a href="#">Acción #2</a></li>
            <li class="divider"></li>
            <li><a href="#">Acción #3</a></li>
            <li class="divider"></li>
            <li><a href="#">Acción #4</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>
