.margen-submenu {
  margin: 15px;
  display: inline-flex;
  justify-content: space-around;
}

@media (max-width: 700px) {
  .desaparece_boton{
    display:none;
  }
}

@media (max-width: 570px) {
  .desaparece{
    display:none;
  }
}

@media (max-width: 500px){
  .float-left-mediaq{
    float: left;
  }

  .logo{
    height: 35px;
    width: auto;
  }

  .float-right-mediaq{
    float: left;
    width: 50%;
  }
}

.breadcrumb{
  padding: 0 0;
}

.breadcrumb>li{
  padding: .75rem 1rem;
}

.breadcrumb > li + li:before {
  content: "";
}

.in_select{
  background-color: darkgray;
  height:100%;
}
