<div>
  <nav>
    <div class="container-fluid">
      <div class="row navbar navbar-default" id="mainHeader">
        <div class="float-left-mediaq">
          <a href="#"><img src="../../assets/imgs/Logotrans.png" alt="" class="logo"></a>
        </div>

        <form class="navbar-form navbar-center float-right-mediaq" role="search">
          <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit" (click)="lanzar($event)">Go!</button>
            </span>
            <input type="text" class="form-control" placeholder="Buscar" [(ngModel)]="keyboard" name="keyboard_input">
          </div>
        </form>

        <button class="btn btn-default desaparece_boton" (click)="pedir($event)">Cambia Fondo</button>
        <button class="btn btn-default desaparece_boton" (click)="pedir($event)">Cambia Color</button>

      </div>


      <div class="row">
        <ul class="breadcrumb col-md-12 col-sm-12 desaparece">
          <li class="breadcrumb-item active col-md-3 col-sm-3 text-center" id="catAll"><a href="#" (click)="categoryEvery()">Todo</a></li>
          <li class="breadcrumb-item col-md-3 col-sm-3 text-center" id="catSport"><a href="#" (click)="categorySport()">Deporte</a></li>
          <li class="breadcrumb-item col-md-3 col-sm-3 text-center" id="catScience"><a href="#" (click)="categoryScience()">Ciencia</a></li>
          <li class="breadcrumb-item col-md-3 col-sm-3 text-center" id="catMisc"><a href="#" (click)="categoryEntert()">Mix</a></li>
        </ul>
      </div>

      <ul class="nav container-fluid margen-submenu"> <!-- container-fluid hace que este debajo del nav principal como submenu -->
        <li class="nav-item dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Países<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#" (click)="countryEvery()">Todo</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#" (click)="countryEsp()">ESP</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#" (click)="countryUK()">UK</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#" (click)="countryFR()">FR</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#" (click)="countryDE()">DE</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cuando<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#" (click)="whenAlways()">Siempre</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#" (click)="whenToday()">Hoy</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#" (click)="whenYesterday()">Ayer</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#" (click)="whenMonth()">Mes</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Preferencia<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#" (click)="preferencyLast()">Últimas</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#" (click)="preferencyPopular()">Populares</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#" (click)="preferencyRelev()">Relevancia</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </nav>
</div>
