div {
  width: 100%;
  height: 8vh;
  background-color: red;
  border-bottom: 2px black solid;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}

input{
  margin: 1vw;
}

button{
  height: 3vh;
  color: black;
  background-color: red;
  border-radius: 50%;
  border-color: white;
  border-style: solid;
}
